@using web.Controllers
@model RegisterFromInviteRequest

<div class="container mt-5" data-module="newUserInvite">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header text-white">
                    <h4 class="mb-0">Register New User</h4>
                </div>
                <div class="card-body">
                    <form id="registerForm" class="needs-validation" name="signIn"
                          hx-post='@Url.Action()' hx-swap="innerHtml" hx-target="#main" novalidate>
                        <div class="mb-3">
                            <label for="Username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="fullName" name="Username"
                                   asp-for="Username" pattern="^[a-zA-Z][a-zA-Z0-9_]{2,15}$" required />
                            <span asp-validation-for="Username" class="validation-warn"></span>
                        </div>

                        <div class="mb-3">
                            <label for="Email" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="email" asp-for="Email" name="Email">
                            <span asp-validation-for="Email" class="validation-warn"></span>
                        </div>

                        <div class="mb-3">
                            <label for="Password" class="form-label">Password</label>
                            <input type="password" class="form-control" asp-for="Password" id="password" name="Password" required>
                            <span asp-validation-for="Password" class="validation-warn"></span>
                        </div>

                        @Html.AntiForgeryToken()
                        <button type="submit" id="createBtn" class="btn btn-dark btn-outline-success w-100">Create
                            Account</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
