<div class="container mt-5" data-module="newUserInvite">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header text-white">
                    <h4 class="mb-0">Register New User</h4>
                </div>
                <div class="card-body">
                    <form id="registerForm" class="needs-validation" name="signIn" novalidate>
                        <div class="mb-3">
                            <label for="Uname" class="form-label">Username</label>
                            <input type="text" class="form-control" id="fullName" name="Uname"
                                pattern="^[a-zA-Z][a-zA-Z0-9_]{2,15}$" required>
                            <div class="invalid-feedback">Bad username</div>
                        </div>

                        <div class="mb-3">
                            <label for="Email" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="email" name="Email">
                            <div class="invalid-feedback">Bad email format!</div>
                        </div>

                        <div class="mb-3">
                            <label for="Password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="Password" required>
                            <div class="invalid-feedback">Password is required!</div>
                        </div>

                        <div class="mb-3">
                            <div class="invalid-feedback">Role is required!</div>
                        </div>

                        <button type="submit" id="createBtn" class="btn btn-dark btn-outline-success w-100">Create
                            Account</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
