@model IEnumerable<core.Models.Log>

<h2>Logs Table</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>User</th>
            <th>Event</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody id="logTable">
        @await Html.PartialAsync("/Views/Partials/_LogsTableBody.cshtml",Model)
    </tbody>
</table>

<button id="loadmoreBtn" class="btn btn-dark position-relative start-50 translate-middle border-secondary" style="margin-top: 24px;">Load more</button>
<script>
</script>'
