<div class="card text-center bg-light mb-3" >
    <div class="card-body">
        <h5 class="card-title">Account succesfully created!</h5>
        <p class="card-text">You can log in now.</p>
        <a class="btn btn-dark btn-outline-success" asp-controller="Login"
            asp-action="Index">Ok</a>

    </div>
</div>
