@using web.Controllers
@model IAsyncEnumerable<core.Models.UserDto>
@{
    ViewData["Title"] = "User List";
}
<div data-module="users">

    <h1>User List</h1>
    <a href="#" hx-get='@Url.Action(nameof(UsersManagerController.AddUser), "UsersManager")'
       hx-target="#main" hx-swap="innerHTML" hx-push-url="true"
       class="btn btn-dark border-secondary mb-3">Create New User</a>
    <button class="btn btn-dark border-secondary mb-3" id="qrbutton" ><i class="bi bi-qr-code"></i></button>

    @Html.AntiForgeryToken()
</div>

@await Html.PartialAsync("_UsersTable.cshtml",Model)

<dialog id="dialog" >
  <div class="dialog-qr-wrapper">
    <div id="qrcode"></div>
    <h5 class="text-secondary">Click to copy invite link</h5>
    <span id="popup-tooltip" class="bg-dark text-white rounded py-1 px-2 small shadow-sm">Copied!</span>
  </div>
</dialog>
