@using mvc_server.Helpers;
@model IEnumerable<FileInfo>
@{
    ViewData["Title"] = "Index";
}

<div class="text-left">
    <h1 class="display-4">Index</h1>

</div>
<div class="justify-content-start">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Modified</th>
                <th>Size</th>
            </tr>
        </thead>
        <tbody>

            @{
                int i = 0;
                foreach (var item in Model)
                {

                    <tr>
                        <td><a asp-controller="Api" asp-action="GetFile" asp-route-id="@i">@item.Name</a></td>
                        <td>@item.LastWriteTime</td>
                        <td>@(Utility.BytesToStringOptimized(item.Length))</td>

                    </tr>
                    i++;
                }
            }



        </tbody>
    </table>

    <form id="uploadForm" asp-controller="Streaming" asp-action="UploadFile" method="post" enctype="multipart/form-data"
        onsubmit="AJAXSubmit(this);return false;">
        <dl>
            <dt>
                <label for="file">File</label>
            </dt>
            <dd>
                <input id="file" type="file" name="file" />
            </dd>
        </dl>

        <input class="btn" type="submit" value="Upload" />

        <div style="margin-top:15px">
            <output form="uploadForm" name="result"></output>
        </div>
    </form>

    @section Scripts {

        <script>
            "use strict";
            const chunkSize = 1024 * 512;

            $('#file').on("change", function () {

                var uid = "";
                const input = $("#file")
                const file = input.prop('files')[0];

                var numberofChunks = Math.ceil(file.size / chunkSize);
                var start = 0;
                var chunkCounter = 0;
                //TODO: fix the issue when pp is smaller then a chunk size
                var chunkEnd = start + chunkSize;

                var request = $.post("api/streaming/handshake",
                    {
                        fileName: file.name,
                        fileSize: file.size,
                        totalParts: numberofChunks,
                        expectedPartSize: chunkSize
                    }
                );
                request.done(function (data) {
                    uid = data;
                    const req = new XMLHttpRequest();

                    while (chunkCounter < numberofChunks) {
                        req.open("POST", "api/streaming/uploadlarge", false);
                        console.log("created chunk: ", chunkCounter);
                        let form = new FormData();
                        let meta = {
                            "uid": uid,
                            "currentPart": chunkCounter,
                            "bytesRead": chunkEnd - start
                        }
                        form.append("meta", JSON.stringify(meta));

                        let chunk = file.slice(start, chunkEnd);
                        if (chunkCounter == 551) {
                            let a = 21;
                        }

                        form.append("file", chunk);
                        req.send(form);
                        chunkCounter++;
                        start = chunkEnd;
                        chunkEnd = Math.min(start + chunkSize, file.size);

                    }
                });
                request.fail(function () {
                    alert("error while handshake");
                });


            });



            function getCookie(name) {
                var value = "; " + document.cookie;
                var parts = value.split("; " + name + "=");
                if (parts.length == 2) return parts.pop().split(";").shift();
            }
        </script>
    }
</div>
