@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container-fluid" style="margin-bottom: 20px">
    <button class="btn btn-primary p-2 d-lg-none" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasResponsive" aria-controls="offcanvasExample">
        SideBar
    </button>
    <div class="row">
        <aside class="col-lg-2 col-sm-1 w-25">
            <div class="offcanvas-lg offcanvas-start " tabindex="-1" id="offcanvasResponsive"
                 aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Menu</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-target="#offcanvasResponsive"  data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <nav class="nav flex-column navbar-nav-scroll navbar-expand-lg ">
                        <ul>
                            @for (int i = 0; i < 35; i++)
                            {
                                <li>

                                    <a class="nav-link active" aria-current="page" href="#">ActiveActiveActiveActive</a>
                                </li>
                            }
                        </ul>
                    </nav>

                </div>
            </div>
        </aside>
        <div class="col-lg-8 col-sm-12 align-self-start" style="display: grid">
            @for (int i = 0; i < 10; i++)
            {
                <p>Content Content Contnt</p>
            }
        </div>
    </div>
</div>