@model IEnumerable<FileInfo>

<h4 class="display-6 top-0">List</h4>

<div class="container-fluid">
    <div class="row">

        <ul class="list-group col-md-4">
            @{
                int i = 0;
                if (Model is not null)
                {
                    foreach (var item in Model)
                    {
                        <li class="list-group-item text-wrap text-truncate" data-source="/api/video/@i">@item.Name</li>
                        i++;
                    }
                }
            }
        </ul>
        <div class="col-md-8 ">
            <video id="player" playsinline controls src="">
                Your browser does not support the video tag.
            </video>

        </div>
    </div>
</div>

@section Scripts {
    <script>
        $('.list-group-item').on('click', function () {
            $('.list-group-item.active').removeClass('active');
            $(this).addClass('active');
            var vidsrc = $(this).data('source');
            $('#player').attr('src', vidsrc);


        });
        $(document).ready(function () {
            $(".plyr__video-wrapper").addClass("ratio ratio-16x9")
        });
    </script>
}