@model MovieModel

<h4 class="display-6 top-0">List</h4>

<div class="container-fluid">
    <div class="row">

        <div class="list-group col-md-4">
            @* <a href="#" class="list-group-item active">
            Cras justo odio
            </a> *@
            @{
                int i = 0;
                if (Model.Movies is not null)
                {
                    foreach (var item in Model.Movies)
                    {
                        <a asp-action="Movies" asp-route-id="@i"
                            class="list-group-item text-wrap text-truncate @(i==Model.SelectionId? "active":"")"
                            style="font-size: 18px; ">@item.Name</a>
                        i++;
                    }
                }

            }


        </div>
        <div class="container-xxl col-md-8">
            <video id="player" playsinline controls src=@Model.PlayerPath>
                Your browser does not support the video tag.
            </video>

        </div>
    </div>
</div>