<div class="row g-3" id="highBar">
    <input id="input" class="form-control" type="text" placeholder="movie url" name="url"></input>
    <button id="okBtn" class="btn btn dark border-secondary" onclick="callPlayer()">Ok</button>
</div>
<div id="controlBar" class="d-flex justify-content-center">
    <button id="contrlBtn" class="btn btn dark border-secondary" type="button"
        onclick="seekBackward()">backward</button>
    <button id="contrlBtn" class="btn btn dark border-secondary" type="button" onclick="pause()">pause</button>
    <button id="contrlBtn" class="btn btn dark border-secondary" type="button" onclick="seekForward()">Forward</button>
    <button id="contrlBtn" class="btn btn dark border-secondary" type="button" onclick="pausePlayer()">Close</button>
</div>
<div>
    <ul id="AnilibList" class="list-group">
    </ul>

    <button type="button" onclick="loadAnilib()" class="btn btn dark border-secondary">Load anilib</button>
</div>



<script>
    async function loadAnilib() {
        const response = await fetch("https://api.anilibria.tv/v3/title/updates?filter=names,player&limit=10");
        if (!response.ok) {
            throw new Error(`Response status: ${response.status}`);
        }

        const data = await response.json();
        var domList = document.getElementById("AnilibList");
        data.list.forEach((title) => {
            const newElem = document.createElement("li");
            newElem.innerHTML = title.names.ru;
            newElem.classList.add("list-group-item");
            newElem.onclick = async function () {
                await fetch("/api/mpv/new", {
                    method: "POST",
                    body: this.dataset.source
                });
            }
            newElem.dataset.source = "https://" + title.player.host + title.player.list[title.player.episodes.last].hls.fhd;
            domList.appendChild(newElem);
        })


    }
    async function callPlayer() {
        var url = document.getElementById('input').value;
        await fetch("/api/mpv", {
            method: "POST",
            body: url,
        });
    }
    async function pausePlayer() {
        await fetch("/api/mpv/pause");
    }
    async function seekForward() {
        await fetch("/api/mpv/command?" + new URLSearchParams({
            cmd: 'seek +5',
        }).toString())
    }

    async function seekBackward() {
        await fetch("/api/mpv/command?" + new URLSearchParams({
            cmd: 'seek -5',
        }).toString())
    }
    async function pause() {
        await fetch("/api/mpv/command?" + new URLSearchParams({
            cmd: 'cycle pause',
        }).toString())
    }

</script>
<style>
    #highBar {
        margin-top: 16px;
        margin-bottom: 16px;
    }

    #input {
        width: 85%;
        margin-right: 4px;
    }

    #okBtn {
        width: 10%;
    }

    #contrlBtn {
        margin-right: 4px;
    }

    #AnilibList {
        margin-top: 32px;
    }
</style>
