<div class="text-center">
    <h2 class="" >Login</h2>
</div>
<div class="container">
    <form id="loginform" method="post" asp-controller="Authentication" asp-action="Authentication">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input type="text" class="form-control" name="Uname" id="exampleInputEmail1"
                aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" name="Password" id="exampleInputPassword1">
        </div>
        <div class="text-center" style="margin-top: 32px;">
            <button type="submit" class="btn btn-dark border-secondary" >Log in</button>
        </div>
    </form>
</div>

