tr {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#fileBlock {
    padding-top: 8px;
    padding-bottom: 16px;
}

#contextMenu {
    display: none
}

div.form-check{
    margin-top: 0.5rem;
    margin-left: 0.2rem;
}
