@using web.Helpers;
@model IAsyncEnumerable<core.Models.FileMeta>
@{
ViewData["Title"] = "Index";
}
@* TODO: #4 add antiforgery token for this page *@

<!--<link rel="modulepreload" href="~/js/index/preload.js" as="script" async/>
<link rel="modulepreload" href="~/js/index/partialTable.js" as="script" async/>
-->
<div data-module="indexPage">
    <div id='fileBlock'>
        <div class="row g-3">


            <div class="col-auto w-auto">
                <input class="form-control" type="file" id="file" multiple>
                 @Html.AntiForgeryToken()
            </div>
            <div class="col-auto ">
                <button id="submitBtn" class="btn btn-dark border-secondary">Upload</button>
            </div>

        </div>
    </div>
    <div class="container-list-group-horizontal" id="table-container">
        @await Html.PartialAsync("/Views/Partials/_IndexTable.cshtml", Model, ViewData)
    </div>
    <ul id="contextMenu" class="dropdown-menu" role="menu">
        <li><a id="print" class="dropdown-item" href="#">Print</a></li>
        <li><a id="download" class="dropdown-item" href="#">Download</a></li>
        <li><a id="delete" class="dropdown-item" href="#">Delete</a></li>
    </ul>
</div>

